.buttons {
	margin-bottom: 10px;
}
.square {
	border-radius: 25px;
	border: 2px solid black;
	display: inline-block;
	height: 150px;
	width: 150px;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
.green.litUp{
	background-color: white;
}
.red.litUp {
	background-color: white;
}
.yellow.litUp {
	background-color: white;
}
.blue.litUp {
	background-color: white;
}