<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>

    <script src="services.js"></script>
    <script src="index.js"></script>
   
    
  </head>

  <body ng-app="myApp">

    <h2>ngResource</h2>
    <div ng-controller="MainCtrl as ctrl">
      
        <div ng-repeat="person in ctrl.people">
          <label ng-bind="person.name"></label>
          <button ng-click="ctrl.displayFriends(person)">Show Friends</button>
          <div>
            <h3>Friends:</h3>
              <div ng-repeat="friend in person.friends">
                <label ng-bind="friend.name"></label>
                <br/>
                <br/>
              </div>
          </div>
          <br/>
          <br/>
        </div>
    </div>
  </body>
</html>